.component {
  align-items: center;
  border: 1px dashed;
  display: flex;
  font-family: var(--font-copy-main-family);
  font-size: var(--font-copy-main-size);
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
